@import url("https://fonts.googleapis.com/css?family=Sen:400,700,800|Neuton:200,700,400");
body{
  background-color: var(--white)
}
.landing-page {
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1458px;
  margin-left:10%;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 381px;
  margin-left: 6px;
  margin-top: 28px;
  min-width: 720px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: 
#f4eeee;
  display: flex;
  flex-direction: column;
  margin-left: 301px;
  min-height: 381px;
  padding: 8px 11px;
  width: 643px;
}

.overlap-group4 {
  align-self: center;
  height: 20px;
  margin-top: 24px;
  position: relative;
  width: 73px;
}

.line-6 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 72px;
}

.about-us-1 {
  color: var(--black);
  font-family: var(--font-family-sen);
  font-size: var(--font-size-m);
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.our-farms-are-legit {
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 7px;
  min-height: 19px;
  min-width: 365px;
  text-align: center;
}

.why-us {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-sen);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0;
  margin-right: 18px;
  min-height: 24px;
  min-width: 71px;
  text-align: center;
}

.respect-to-our-clie {
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 439px;
  text-align: center;
}

.wine-stored-in-the {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 7px;
  min-height: 19px;
  min-width: 598px;
  text-align: center;
}

.we-provide-the-bes {
  letter-spacing: 0;
  margin-top: 30px;
  min-height: 19px;
  min-width: 372px;
  text-align: center;
}

.our-farms-are-legit-1 {
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 365px;
  text-align: center;
}

.customers-always-right-rule-applies {
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 49px;
  min-height: 19px;
  min-width: 271px;
  text-align: center;
}

.line-7 {
  align-self: center;
  height: 1px;
  margin-right: 9px;
  width: 82px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-top: 7px;
  min-width: 285px;
}

.text-1 {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 5px;
  text-align: center;
}

.reliable-wine-for-any-event-of-choice {
  position: absolute;
width: 278px;
height: 19px;
left: 1000px;
top: 694px;

font-family: 'Sen';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  min-height: 285px;
  width: 462px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 190px;
  margin-top: 52px;
  min-width: 462px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 187px;
  width: 131px;
}

.top-knoch {
  letter-spacing: 0;
  margin-left: 6px;
  margin-top: 4px;
  min-height: 19px;
  min-width: 79px;
  text-align: center;
}

.overlap-group2 {
  height: 164px;
  position: relative;
  width: 131px;
}

.x51m-recc-sy9-l-1 {
  height: 164px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 131px;
}

.rectangle-38 {
  background-color: var(--alto);
  height: 112px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 112px;
}

.flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 185px;
  width: 142px;
}

.overlap-group3 {
  height: 164px;
  position: relative;
  width: 142px;
}

.rectangle-39 {
  background-color: var(--alto);
  height: 117px;
  left: 5px;
  position: absolute;
  top: 32px;
  width: 112px;
}

.oip-2-1 {
  height: 164px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 142px;
  background: url(pic1.jpg);
}

.perfect {
  letter-spacing: 0;
  margin-right: 19px;
  margin-top: 2px;
  min-height: 19px;
  min-width: 55px;
  text-align: center;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 190px;
  width: 130px;
}

.affordable {
  letter-spacing: 0;
  margin-right: 23px;
  margin-top: 7px;
  min-height: 19px;
  min-width: 81px;
  text-align: center;
}

.man_styled_chenin_nv-1 {
  height: 164px;
  object-fit: cover;
  width: 130px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-sen);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  letter-spacing: 0;
  margin-right: 18px;
  min-height: 43px;
  min-width: 332px;
  text-align: center;
  font-family: 'Sen';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 43px;
text-align: center;

color: #000000;
}

.overlap-group {
  height: 585px;
  position: relative;
  width: 1458px;
}

.vector-7 {
  position: absolute;
width: 5px;
height: 18px;
left: 45px;
top: 65px;

border: 3px solid #FFFFFF;
}

.rectangle-34 {
  background-color: 
#f1fafa;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1458px;
}

.vector-3 {
  position: absolute;
  width: 32.64px;
  height: 50.24px;
  left: 37px;
  top: 11px;
  
  border: 2.5px solid #FFFFFF;
  border-top: 0px;
}

.rectangle-36 {
  background-color: 
#c65d5d;
  height: 445px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1458px;
}

.logout {
  cursor: pointer;
  left: 1310px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 34px;
  font-family: 'Sen';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;
}

.sw {
  position: absolute;
width: 20px;
height: 19px;
left: 41.64px;
top: 33px;

font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;
}

.vector-4 {
  height: 15px;
  left: 48px;
  position: absolute;
  top: 63px;
  width: 6px;
}

.staff-members {
    position: absolute;
    width: 116px;
    height: 19px;
    left: 1140px;
    top: 35px;
    
    font-family: 'Sen';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
}

.line-5 {
  position: absolute;
  width: 116px;
  height: 0px;
  left: 81px;
  top: 63px;
  
  border: 2.5px solid #ECD1D1;
  transform: rotate(-0.49deg);

}

.rectangle-37 {
  background-color: 
#504754;
  filter: blur(4px);
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1458px;
}

.vector-5 {
  height: 4px;
  left: 27px;
  position: absolute;
  top: 82px;
  width: 33px;
}

.about-us {
  color: #E0C3C3;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-m);
  font-weight: 800;
  left: 1020px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 34px;
  font-family: 'Sen';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #E0C3C3;

}

.vector-6 {
  height: 10px;
  left: 43px;
  position: absolute;
  top: 74px;
  width: 5px;
  border: 3px solid #FFFFFF;
}

.chelsea-pridham-pj1 {
  height: 585px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1458px;
}

.sparky-wines {
  position: absolute;
width: 105px;
height: 19px;
left: 81px;
top: 43px;

font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;
}