@import url("https://fonts.googleapis.com/css?family=Sen:400,700,800|Neuton:200,700,400");

.sign-in-page {
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: 
#f115b359;
  display: flex;
  overflow: hidden;
  height: 1024px;
  width: 756x;

}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group {
  height: 1036px;
  margin-left: -4px;
  position: relative;
  width: 1445px;
  flex-wrap: wrap;
}

.vector-1 {
  height: 11px;
  left: 785px;
  position: absolute;
  top: 635px;
  width: 9px;
}

.sign-in {
  color: 
#bf92e2;
  font-family: var(--font-family-neuton);
  font-size: 70PX;
  font-weight: 700;
  left: 966px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 175px;
}

.rectangle-25 {
  background-color: 
#f9fbf1;
  height: 744px;
  left: 721px;
  position: absolute;
  top: 117px;
  width: 728px;
}

.sign-up {
  color: 
#fff3f3;
  cursor: pointer;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 1014px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 724px;
  width: 130px;
}


.rectangle-24 {
  background-color: 
#e3e7dd80;
  height: 744px;
  left: 4px;
  position: absolute;
  top: 117px;
  width: 717px;
}

.kelsey-knight-udj2t-d3-w-ks-y-unsplash-2 {
  height: 169px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 1440px;
}

.creating-the-greates {
    position: absolute;
    width: 724px;
    height: 110px;
    left: -4px;
    top: 550px;
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: hard-light;
    opacity: 0.8;
}

.rectangle-26 {
  background-color: 
#d313cb4c;
  border: 1px solid 
#00000033;
  filter: blur(45px);
  height: 165px;
  left: 6px;
  position: absolute;
  top: 860px;
  width: 1439px;
}


.bergin-bottle-collage-sm-1 {
  height: 744px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 717px;
}

.rectangle-33 {
  background-color: 
#966596;
  border-radius: 85px;
  cursor: pointer;
  height: 64px;
  left: 1000px;
  position: absolute;
  top: 620px;
  width: 291px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  
  color: #FFF3F3;
  border-color: #BD8FDD;
  
  
}

.line-3 {
  height: 2px;
  left: 846px;
  position: absolute;
  top: 456px;
  width: 482px;
}

.sparky-wines {
  
position: absolute;
width: 441px;
height: 242px;
left: 108px;
top: 241px;
font-family: 'Neuton';
font-style: normal;
font-weight: 275;
font-size: 96px;
line-height: 121px;
text-align: center;

color: #FFFFFF;
}


.username {
  color: 
#a672c5;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 854px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 532px;
}

.cell-number {
  color: 
#9e70b7;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 852px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 467px;
  width: 178px;
}



.bergin-bottle-collage-sm-3 {
  height: 1024px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3020px;
  background: url(Bergin-bottle-collage-sm.jpg);
filter: blur(30px);
}

.password {
  color: 
#b782e0;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 852px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 583px;
}
.fname{
position: absolute;
width: 181px;
height: 31px;
left: 881px;
top: 350px;
font-family: 'Sen';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 31px;
text-align: center;
padding: 12px;
margin: 10px;

color: #BD8FDD;

}
.saw{
position: absolute;
width: 320px;
height: 30px;
left: 165px;
top: 25px;
background: #FAFCF1;
border-left: 0;
border-right: 0;
border-top: 0;
}
.sai{
    
        position: absolute;
        width: 320px;
        height: 30px;
        left: 165px;
        top: 115px;
        background: #FAFCF1;
        border-left: 0;
        border-right: 0;
        border-top: 0; 

}
.FF{
  position: absolute;
  width: 181px;
  height: 31px;
  left: -11px;
  top: 5px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  padding: 12px;
  margin: 10px;
  
  color: #BD8FDD;
      }
  
    .FG{
        position: absolute;
        width: 181px;
        height: 31px;
        left: -11px;
        top: 95px;
        font-family: 'Sen';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 31px;
        text-align: center;
        padding: 12px;
        margin: 10px;
  
        color: #BD8FDD;
    }
    .signed{

      position: absolute;
      left: 75px;
      top: 180px;
      width: 203px;
      height: 37px;
      font-family: 'Sen';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      /* identical to box height */
      
      text-align: center;
     
      
      color: #050108;
      

    }
.rem{
  position: absolute;
  width: 102px;
  height: 20px;
  left: -20px;
  top: 5px;
  
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 80px;
  /* identical to box height */
  
  text-align: center;

  
  color: #050108;
  
}
.rem1{
  position: absolute;
  width: 203px;
  height: 37px;
  left: 300px;
  top: 180px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  
  color: #200320;
}
.linki{
  position: absolute;
  width: 350px;
  height: 37px;
  left:15px;
  top: 370px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  
  color: #080708;
}
.ya{
  position: absolute;
  left:250px;
  top: 0px;
  width: 350px;
  height: 37px;

}
